<!-- login.html -->

<form method="post">
    {% csrf_token %}
    {{ form.username }}
    {{ form.password }}
    <div class="g-recaptcha" data-sitekey="{{ your_site_key }}"></div>
    <input type="hidden" name="token" id="token" />
    <button type="submit">Login</button>
</form>

<script src="https://www.google.com/recaptcha/api.js?render=explicit"></script>
<script>
    grecaptcha.ready(function() {
        grecaptcha.execute('{{ your_site_key }}', {action: 'submit'}).then(function(token) {
            document.getElementById('token').value = token;
        });
    });
</script>
